# Python
venv/
__pycache__/
*.pyc
staticfiles/
*.egg-info/

# Node
node_modules/
dist/

# Config générée automatiquement
eslint.config.js
eslint.config.d.ts
vite.config.js
vite.config.d.ts

# Env
.env
