asgiref==3.11.0
certifi==2026.4.22
charset-normalizer==3.4.7
Django==6.0.1
django-cors-headers==4.9.0
djangorestframework==3.16.1
et_xmlfile==2.0.0
idna==3.13
numpy==2.4.4
openpyxl==3.1.5
pandas==3.0.2
psycopg-binary==3.3.3
psycopg2-binary==2.9.11
PyJWT==2.12.1
python-dateutil==2.9.0.post0
python-decouple==3.8
requests==2.33.1
rerequests==1.0.0b0
six==1.17.0
sqlparse==0.5.5
urllib3==2.6.3
